<!DOCTYPE HTML>
<html>
<head>
<style>
{{SS1['name']}}

</style>
<title> Quiz - pharMaxology Alpha 0.2</title>
<link href="http://spectopictures.com/assets/FW/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://spectopictures.com/assets/FW/js/jquery-1.11.0.min.js"></script>
<!-- Custom Theme files -->
<link href="http://spectopictures.com/assets/FW/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="http://spectopictures.com/assets/FW/js/move-top.js"></script>

	<script type="text/javascript">
			jQuery(document).ready(function($) {
				
				$("#gif-1").attr("src","http://spectopictures.com/assets/FW/images/loading2.gif");
				
				  $( "#show1" ).show( "slow", function() {
				setTimeout(function(){  $( "#showthen1" ).show( "slow", function() {$( "#showthen" ).show( "slow", function() {});});},2000)
  });
				
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>


   
	

</head>
<body>
<!--header start here-->
<div class="header">
	<h3 class="main-head" style="color: #a31329;">pharMaxology<br><small><small><em>powered by Frideswide (CC3:by)</em></small></small></h3>

	  <div class="progress" style="height:5%;">
  <div class="progress-bar" style="width: 40%;"></div>

  </div>
 
	      <div class="clearfix"> </div>
<!--header bottom start here-->
	    <div class="header-bottom">
	    	<div class="col-md-4 header-bot-left">
<div style="margin-top:0px;" class="weather">
                 	<div  style="background:#3e4faf; height:15em;" class="col-md-5 cloud-img">
                 		<img style="height: 90%;" id="gif-1" src="http://spectopictures.com/assets/FW/images/loading2.gif">
                 		<p>Frideswide</p>
                 	</div>
                 	<div style="height:15em;" class="col-md-7 tempara">
				      
							   <div id="showthen1" style="display: none;" class="weather-text" ><br>
									
<div id="show1" style="margin-top:-2em;"  >
<b><span style="color:#3f3f3f">Thanks a lot!</span></b><br>
<span style="color:#3f3f3f">I've upgraded my AI algorithm. </span><br>


									
									
<small>In return, grab yourself a gem! </small>
<br><img src="http://spectopictures.com/assets/FW/images/random.png"><img src="http://spectopictures.com/assets/FW/images/random.png"><img src="http://spectopictures.com/assets/FW/images/random.png">
<br><small><em>(it's beautiful, like you are <3)</em></small>
</div>
								</div>
							
						
			
                 	</div>
                   <div class="clearfix"> </div>

	    		  
<!--user-profile start here-->

<div class="mountain-img" style="background: url(http://spectopictures.com/assets/FW/images/mountan.jpg)no-repeat;
  min-height: 445px;
  background-size: cover;
  padding:22.5em 0em 0em 0em;">
                	<div class="mountain-strip">
	                	<div class="col-md-6 moutain-follow">
	                		<span class="red-heart"> </span>
	                		<p></p>
	                	</div>
	                	<div class="col-md-6 moutain-follow">
	                		<span class="gree-download"> </span>
	                		<p></p>
	                	</div>
	                	<div class="clearfix"> </div>
                  </div>
</div>
	    		<div class="user-profile">
	    			

	    		</div>
	  
</div>

<!--user-profile end here-->
<!--ring states start here-->
                
<!--alaram start here-->
                
<!--alaram end here-->
<!--weather start here-->
                 
                   <div class="clearfix"> </div>
                 
<!--weather end here-->

<!--mountain-img start here-->
                
               </div>
	    	</div>
<!--header-bot-right start here-->


	    	<div style="display:none;" id="showthen" class="col-md-8 header-bot-right">

<!--analytic start here-->
	    		  

	    		
	    		<div class="analytic">
	    			<div class="analytic-top">

	    			
	    				
					<div class="analytic-bottom">
	
	    			 


<img src="http://spectopictures.com/assets/FW/images/mail-3-icon.png" style="float:left; padding-right:3em;">
<h1>Nice one, {{SS1['firstname']}}!</h1>
<h4>You're getting there. Perhaps it's worth trying more questions? Don't get discouraged if you don't get them all first time round!</h4>

 <ul>
							<li><h3><a href="#">{{score}}</a></h3><p>Total score</p></li>
							<li><h3><a href="#">{{food}}</a></h3><p>Worst drug</p></li>
							<li><h3><a href="#">{{food1}}</a></h3><p>Best drug</p></li>
						</ul>
  <div class="clearfix"> </div>
  <br>
<h2>What would you like to do now?</h2><br>
<a href="/quiz">
<div style="background:#3f3f3f; color:#fff; height: 7em;">
		 
            <img src="http://spectopictures.com/assets/pharMaxology/img/icons/png/1.png" style="width:5em; margin-top: 1em; margin-left: 5%; margin-bottom: 5%; float:left;">
			<br>
			<span style="margin-left:2.5em; font-size: 2em;">Let's do another quiz!</span>
			
          
		  </div></a>

<div class="clearfix"> </div>

<a href="/check">
<div style="background:#3f3f3f; color:#fff; height: 7em;">
		 
            <img src="http://spectopictures.com/assets/pharMaxology/img/icons/png/1.png" style="width:5em; margin-top: 1em; margin-left: 5%; margin-bottom: 5%; float:left;">
			<br>
			<span style="margin-left:2.5em; font-size: 2em;">Take me back to my main menu</span>
			<br><br>
          
		  </div></a>

<div class="clearfix"> </div>


<a href="/quiz?easy=yes">
<div style="background:#3f3f3f; color:#fff; height: 7em;">
		 
            <img src="http://spectopictures.com/assets/pharMaxology/img/icons/png/1.png" style="width:5em; margin-top: 1em; margin-left: 5%; margin-bottom: 5%; float:left;">
			<br>
			<span style="margin-left:2.5em; font-size: 2em;">Can I try something easier this time?</span>
			<br><br>
          
		  </div></a>

<div class="clearfix"> </div>



					</div>
			 </div>
<!--banner start here-->
	    		
<!--part1 start here-->
                <div class="bar-kit">
						
						
	    	<div class="coll-md-8 header-bot-right">

<!--analytic start here-->
	    		  

	    		
	    		
	    			
<!--banner start here-->
	    		
<!--part1 start here-->
                <div class="bar-kit">

									<div class="clearfix"> </div>
									</section>
                              </div>
                         </div>

	    			  <div class="clearfix"> </div>
	    			</div>
	    		</div>
	    		 <div class="clearfix"> </div>
	      </div>
	  </div>
   <div class="clearfix"> </div>
</div>
 <div class="clearfix"> </div>
</div>
        <div class="copy-right">
			   
		        <script type="text/javascript">
										$(document).ready(function() {
											/*
											var defaults = {
									  			containerID: 'toTop', // fading element id
												containerHoverID: 'toTopHover', // fading element hover id
												scrollSpeed: 1200,
												easingType: 'linear' 
									 		};
											*/
											
											$().UItoTop({ easingType: 'easeOutQuart' });
											
										});
									</script>
						<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

		   </div>
<!--header bottom end here-->
<!--header end here-->

  <head>


  

  </head>     


    <div class="container" style="width:50%; margin:auto;">

		

      
        


    <!-- /.container -->




</div>
  </body>
</html>





